{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    {% block stylesheet %}<link rel="stylesheet" href="{% static 'css/app.css' %}">{% endblock stylesheet %}
    <link rel="icon" type="image/png" href="../../static/img/pythonator2.png" />
    <!-- Bootstrap -->
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous"/>
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous">
    </script>
    <script 
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
    crossorigin="anonymous">
    </script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" 
    crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .header-box {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: rgba(000, 000, 000, 0.5);
        }
    </style>
</head>
<body class="container-base">
    {% include 'app/layouts/navbar.html' %}
    <header class="header-box">
        <div class="header-content">
            <h1>{{ title }}</h1>
            <h3><em>{{ tagline }}</em></h3>
            <div class="header-info-container">
                <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" width="200" height="300" class="header-info-content"/>
                <div class="header-info-content">
                    <p>Sortie : {{ release_date }}</p>
                    <p>Genre : <br>{{ genres }}</p>
                    <p>{{ overview }}</p>
                </div>
            </div>
        </div>
        <img src="https://image.tmdb.org/t/p/w1280{{backdrop_path}}" class="header-img"/>
    </header>
    <!-- _______________________________________________________________________________________________ SECTION RATING -->
    <section class="rating-section">
        <div>
            <h2>Avez-vous vu ce film ?</h2>
            <img src="https://image.tmdb.org/t/p/w1280{{seen_poster_path}}" width="200" height="300"/>
            {% comment %} <img src="../../static/img/ratings-movie01.png" class="rating-img"/> {% endcomment %}
        </div>
        <div class="ratings-container-btn">
            <button type="submit" class="rating-btn">OUI</button>
            <button type="submit" class="rating-btn">NON</button>
        </div>
    </section>
    <!-- _______________________________________________________________________________________________ SECTION ANTE-LIST -->
    <section class="reverse-list-section">
        <h2 class="reverse-list-subtitle">Parce que c'est différent de {{already_seen}}</h2>
        <div class="reverse-list-container wrapper">
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.1 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.2 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.3 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.4 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.5 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.6 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.7 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.8 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.9 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.10 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.11 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.12 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.13 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.14 }}" alt="poster" width="200" height="300"/></div>
                <div class="reverse-list-elem"><img class="ml-movie-img movie-img" src="https://image.tmdb.org/t/p/w1280{{ reverse_poster_path.15 }}" alt="poster" width="200" height="300"/></div>
        </div>
    </section>
    <!-- _______________________________________________________________________________________________ SECTION SEEN-THIS-TRY-THIS -->
    <section>
        <h2>Vous avez regardé <span style="font-size:25px;color:grey;"><em>[titre]</em></span> il y a <span style="font-size:25px;"><em>[nb]</em></span> jours, essayez :</h2>
        <div class="film-list">
            <ul>
                <li>Film 4</li>
                <li>Film 5</li>
                <li>Film 6</li>
            </ul>
        </div>
    </section>
    <!-- _______________________________________________________________________________________________ SECTION LAST RELEASED -->
    <section>
        <h2>Dernières sorties</h2>
        <div class="film-list">
            <ul>
                <li>Film 4</li>
                <li>Film 5</li>
                <li>Film 6</li>
            </ul>
        </div>
    </section>
    <!-- _______________________________________________________________________________________________ SECTION TOP 10 -->
    <section>
        <h2>TOP 10 Films</h2>
        <div class="film-list">
            <ul>
                <li>Film 4</li>
                <li>Film 5</li>
                <li>Film 6</li>
            </ul>
        </div>
    </section>
    <!-- _______________________________________________________________________________________________ SECTION SEASON -->
    <section>
        <h2>Films de Noël</h2>
        <div class="film-list">
            <ul>
                <li>Film 4</li>
                <li>Film 5</li>
                <li>Film 6</li>
            </ul>
        </div>
    </section>
    <!-- _______________________________________________________________________________________________ SECTION LANGUAGE -->
    <section>
        <h2>Films disponibles en hongrois</h2>
        <div class="film-list">
            <ul>
                <li>Film 4</li>
                <li>Film 5</li>
                <li>Film 6</li>
            </ul>
        </div>
    </section>
    
    <!-- _______________________________________________________________________________________________ FOOTER -->
    <footer class="footer_container">
        <div class="footer_item">
            <h3 class="contact-items contact-title">Contact</h3>
            <div class="contact-items">
                <div class="contact">
                    <p><i class='bx bxs-home'></i>
                    <br><i class='bx bxs-phone'></i>
                    <br><i class='bx bxs-envelope'></i></p>
                </div>
                <div class="contact">
                    <p>42 chemin relatif du Localhost, 1337 Pickle
                    <br>127.0.0.1
                    <br>hello@world.email </p> 
                </div>
            </div>
            <div class="contact-items">
                <box-icon name='twitch' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='facebook-square' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='instagram-alt' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='linkedin-square' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='discord' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='tiktok' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='github' type='logo' color='#ffffff' ></box-icon>
                <box-icon name='python' type='logo' color='#ffffff' ></box-icon>
            </div>
        </div>
        </div>
        <div class="footer_item">
            <h3 class="horaires-container"><i class='bx bxs-time-five' ></i> Horaires</h3>
            <div class="horaires-container">
                <div class="horaires">
                    <p>Lundi
                    <br>Mardi
                    <br>Mercredi
                    <br>Jeudi
                    <br>Vendredi
                    <br>Samedi
                    <br>Dimanche</p> 
                </div>
                <div class="horaires">
                    <p>14h41 à 21h87
                    <br>En maintenance
                    <br>6h02 à 6h03
                    <br>8h17 à 23h57
                    <br>11h36 à 11h00
                    <br>15h15 à 22h22
                    <br>Fermé</p> 
                </div>
            </p>
        </div>
    </footer>
    <div id="bottom_bar">
        <p class="bottom_bar_item">Fait avec ❤︎ par Adriano Di Caprio, Jesus The Machine, Junhui Scorsese & Lina Connor</p>
        <p class="bottom_bar_item bold">© 2023 Pythonator <img src="../../static/img/pythonator2.png" width="30" height="30"/></p>
    </div>
</body>
</html>
