<!-- FILEPATH: /C:/Users/Lit3C/Projects/Movie-recommender/main_home/templates/app/app.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="icon" type="image/png" href="../../static/img/pythonator2.png" />
</head>
<body>
    <header class="header-box">
        <div class="header-content">
            <h2>Ca pourrait vous plaire</h2>
            <h1>TITRE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Malesuada proin libero nunc consequat interdum varius sit.
            </p>
        </div>
    </header>

    <section>
        <h2>Noter le film</h2>
        <!-- Ajoutez ici le code pour noter le film -->
    </section>

    <section>
        <h2>Liste de films</h2>
        <div class="film-list">
            <ul>
                <li>Film 1</li>
                <li>Film 2</li>
                <li>Film 3</li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Liste de films</h2>
        <div class="film-list">
            <ul>
                <li>Film 4</li>
                <li>Film 5</li>
                <li>Film 6</li>
            </ul>
        </div>
    </section>

    <footer>
        <h3>Contact</h3>
        <!-- Ajoutez ici les informations de contact -->
    </footer>
</body>
</html>
