{% extends "layouts/base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
{% endblock stylesheet %}


{% block content %}
<div>
    <!-- Pie Chart -->
    <div class="mx-3 p-3">
        <h1 class="text-center">Composition des ménages dans la Creuse</h1>
        <p>Source : INSEE 2020</p>
        <div class="market-pie-chart"><canvas id="traffic-sources"></canvas></div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static '/js/market.js' %}"></script>
{% endblock scripts %}