@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container-base {
  background-color: red;
}

.header-box{
    min-height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../img/Napoleon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content{
    background-color: rgba(000, 000, 000, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* border: 1px solid blue; */
    width: 40vw;
    margin: 5% 3%;
    padding: 0% 2%;
    color: white;
    border-radius: 10px;
}
.header-content * {
    margin: 5% 0;
}
/* ------------------------------------ NAVBAR ----------------------------------------- */
.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 75%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
