@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:rgb(224, 222, 218);
}
.container-base, body {
  background-color: #121416;
}
/* ------------------------------------ NAVBAR Boostrap----------------------------------------- */
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 75%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
/* -------------------------------------------------- Header Section -----------*/
.header-box{
    min-height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../img/Napoleon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content{
    background-color: rgba(000, 000, 000, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* border: 1px solid blue; */
    width: 40vw;
    margin: 5% 3%;
    padding: 0% 2%;
    color: white;
    border-radius: 10px;
}
.header-content * {
    margin: 5% 0;
}
  /* -------------------------------------------------- Rating Section -----------*/
.rating-section{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 5% 10%;
}
.ratings-container-btn{
  width: 20%;
  margin: 2%;
  padding: 1%;
}
.rating-btn{
  margin: 20% 0%;
  display: block;
  width: 100%;
  height: 45px;
  background: #e1dfd9;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor : pointer;
  font-size : 16px;
  color: #333;
  font-weight: 600;
}
.rating-btn:hover{
  background: #fcc236;
}
.rating-img {
  width: 700px;
}
/* -------------------------------------------------- AnteChoice Section -----------*/
.ante-list-section {
  margin: 5% 0%;
}
.ante-list-subtitle{
  margin: 0% 5%;
}
.ante-list-container{
  display: flex;
  /* border: 1px solid blue; */
  
}
.ante-list-elem {
  display: inline;
}
.ante-list-img-back{
  width: 300px;
  z-index: -1;
}
.ante-list-img-current{
  width: 600px;
  z-index: 100;
  left: -100px;
  position: relative;
  box-shadow: 0 0 0 .30rem rgba(10, 10, 10, 0.6);
}
.ante-list-img-next{
  position: relative;
  width: 300px;
  height: 206px;
  left: -200px;
  z-index: -1;
}
.ante-list-img-next2{
  position:absolute;
  width: 300px;
  left: 1060px;
  top: 1645px;
  z-index: -2;
}