@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.market-pie-chart{
    border: 1px solid transparent;
    margin: 0% 30% 15% 30%;
  }