@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:rgb(224, 222, 218);
}
.container-base, body {
  background-color: #121416;
}
/* ------------------------------------ filtres  ----------------------------------------- */
option {
    background-color: #121416;
    color:rgb(224, 222, 218);
}