{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/app.css' %}">{% endblock stylesheet %}

<footer class="footer_container">
    <div class="footer_item">
        <h3 class="contact-items contact-title">Contact</h3>
        <div class="contact-items">
            <div class="contact">
                <p><i class='bx bxs-home'></i>
                    <br><i class='bx bxs-phone'></i>
                    <br><i class='bx bxs-envelope'></i></p>
                </div>
                <div class="contact">
                    <p>42 chemin relatif du Localhost, 1337 Pickle
                <br>127.0.0.1
                <br>hello@world.email </p> 
            </div>
        </div>
        <div class="contact-items">
            <box-icon name='twitch' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='facebook-square' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='instagram-alt' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='linkedin-square' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='discord' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='tiktok' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='github' type='logo' color='#ffffff' ></box-icon>
            <box-icon name='python' type='logo' color='#ffffff' ></box-icon>
        </div>
    </div>
</div>
<div class="footer_item">
    <h3 class="horaires-container"><i class='bx bxs-time-five' ></i> Horaires</h3>
    <div class="horaires-container">
        <div class="horaires">
            <p>Lundi
                <br>Mardi
                <br>Mercredi
                <br>Jeudi
                <br>Vendredi
                <br>Samedi
                <br>Dimanche</p> 
            </div>
            <div class="horaires">
                <p>14h41 à 21h87
                    <br>En maintenance
                    <br>6h02 à 6h03
                    <br>8h17 à 23h57
                    <br>11h36 à 11h00
                    <br>15h15 à 22h22
                    <br>Fermé</p> 
                </div>
            </p>
    </div>
</footer>
<!-- _______________________________________________________________________________________________ BOTTOM BAR -->
<div id="bottom_bar">
    <p class="bottom_bar_item">Fait avec ❤︎ par Adriano Di Caprio, Jesus The Machine, Junhui Scorsese & Lina Connor</p>
    <p class="bottom_bar_item bold">© 2023 Pythonator <img src="../../static/img/pythonator2.png" width="30" height="30"/></p>
</div>